# Ignore the Miniconda installer
Miniconda3-latest-MacOSX-arm64.sh

# Ignore credential files
creds
creds.pub

# Ignore the log folder
log/

# Ignore the virtual environment folder
venv/

mqp-data/flights-benchmark/gen_hdf/flights.hdf
